<!-- app/templates/auth_register.html -->
{% extends "base.html" %}
{% block title %}Register | CSV Insights Lab{% endblock %}
{% block content %}
<h3>Create Account</h3>
<form method="post" action="{{ url_for('auth.register_post') }}" class="mt-3" autocomplete="off">
  <div class="mb-3">
    <label class="form-label">Email</label>
    <input name="email" type="email" class="form-control" required>
  </div>
  <div class="mb-3">
    <label class="form-label">Password</label>
    <input name="password" type="password" class="form-control" required>
  </div>
  <button class="btn btn-success" type="submit">Sign up</button>
  <a class="btn btn-link" href="{{ url_for('auth.login_page') }}">Back to login</a>
</form>
{% endblock %}
